#wrapper{
    margin: 0 auto;
    width: 1024px;
    height: 1800px;
}

#topLine{
    height:18px;
    background-color: #cccccc;
    background-image: url(../Img/topLine.png);
    background-repeat: repeat-x;
}

/*HEADER START*/

#header{
    height: 157px;
    position: relative;
}

#logo{
    width: 207px;
    height: 56px;
    background-image: url(../Img/logo.png);
    position: absolute;
    left:56px;
    top:49px;
}

#logo a{
    display: block;
    height: 56px;
    cursor: pointer;
}

#faq{
    width:83px;
    height: 164px;
    background-image: url(../Img/faq.png);
    position: absolute;
    top:-19px;
    right: 50px;
}

#faq a{
    display: block;
    height: 164px;
    cursor: pointer;
}

#nav{
    width:520px;
    height:30px;
    position: absolute;
    top:56px;
    left:377px;
}

#nav li{
    float: left;
    margin-right: 27px; 

}

#nav li a{
    text-decoration: none;
    font:16px Regular, sans-serif;
    color:#3f3f3f;
}

#nav li a.active, #nav li a:hover{ 
    color: #2c789c;
}

/*HEADER END*/

/*PEOPLE START*/
#people{
    height:404px;
    background-image: url(../Img/peopleBack.png);
    background-repeat: no-repeat;
    background-position: 74px 53px; /*74 - по горизонтали, 53 - по вертикали */
    position:relative;
}

#peopleImg{
    position:absolute;
    width:382px;
    height:389px;
    background-image: url(../Img/peopleImg.png);
    right:55px;
    top:2px;
    z-index: 5;
}

#slogan{
    position: absolute;
    width:320px;
    height:80px;
    top:207px;
    left:64px;
    text-align: right;
}

#slogan h1{
    font:bold 23px Regular, sans-serif;
    color:#1d1e1b;
    text-transform: uppercase;
}

#slogan p{
    font:16px Regular, sans-serif;
    color:#4d7799;
}

#forLine{
    height: 96px;
    position:absolute;
    bottom:0;
    left:0;
    width:1024px;
    background-image: url(../Img/forLineBg.png);
    background-repeat: repeat-y;
    z-index: 1;
}

/*PEAPLE END*/

/*COLORS START*/
#colors{
    height: 147px;
    background-image: url(../Img/colorsBg.png);
    background-repeat: repeat-y;
    padding: 0 49px 0 42px;

}

#blue{
    width: 292px;
    float: left;
    background-color: #2c789c;
    padding-left: 14px;
}

#yellow{
    width: 302px;
    float: left;
    background-color: #e5b00d;
    padding-left: 19px;
    z-index: 1;
}

#green{
    width: 282px;
    float: left;
    background-color: #97ba15;
    padding-left: 24px;
}

#blue, #yellow,#green{
    color: white;
    padding-top: 13px;
    position: relative;
    height: 134px;
}

#colors h2{
    font:  19px Regular, sans-serif;
    padding-bottom: 11px;
}

#colors p{
    font: 16px Regular, sans-serif;
    padding-bottom: 11px;
}

#colors a{
    text-decoration: none;
    color: #a1a1a1;
    font: 16px Regular, sans-serif;
    display:block;
    width:99px;
    height: 26px;
    background-image: url("../Img/readMore.png");
    background-repeat: no-repeat;
    position: absolute;
    padding: 5px 10px;
    bottom:0px;
}

.clear{
    clear: both;
}

#e1{
    width:47px;
    height: 46px;
    background-image: url(../Img/e1.png);
    background-repeat: no-repeat;
    position: absolute;
    top:5px;
    right:10px;
}

#e2{
    width: 45px;
    height: 42px;
    background-image: url("../Img/e2.png");
    background-repeat: no-repeat;
    position: absolute;
    top:5px;
    right: 10px;
}

#e3{
    width:32px;
    height: 31px;
    background-image: url("../Img/e3.png");
    background-repeat: no-repeat;
    position: absolute;
    top:5px;
    right:10px;
}

#blueRomb{
    width: 25px;
    height: 50px;
    background-image: url("../Img/blueRomb.png");
    background-repeat: no-repeat;
    position: absolute;
    top:48px;
    right:-24px;
    z-index: 10;
}

#yellowRomb{
    width: 26px;
    height: 51px;
    background-image: url("../Img/yellowRomb.png");
    background-repeat: no-repeat;
    position: absolute;
    top:48px;
    right:-25px;
    z-index: 10;
}

#yellow a, #yellow p{
    margin-left: 10px;
}

#green a, #green p{
    margin-left:10px;
}

/*BLACK AND WHITE START*/

#blackAndWhite{
    height: 272px;
    outline: 1px solid red;
    background-image: url("../Img/colorsBg.png");
    background-repeat: repeat-y;
    position: relative;
}

#bgLeft{
    height:102px ;
    width: 41px;
    background-image: url("../Img/bgLeft.png");
    background-repeat: no-repeat;
    position: absolute;
    top:171px;
    left:0px;
}

#bgRight{
    width:33px;
    height: 101px;
    background-image: url("../Img/bgRight.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 172px;
    right:0px;
}

#blackWhiteBgLine{
    background-image: url("../Img/blackWhiteBgLine.png");
    background-repeat: repeat-x;
    position: absolute;
    height:1px;
    width:950px;
    bottom:0px;
    left:41px;
}

form{
    height: 100px;
    position: relative;
    display: block;
}

form input{
    position: absolute;
    top:30px;
    left:20px;
    display: block;
    border: 1px solid #cccccc;
    height: 40px;
    padding: 10px 10px 10px 10px;
    color: #cccccc;
}

/*FOOTER BEGIN*/

#footer{
    outline: 1px solid red;
}

#footer h1 {
    font:bold 17px Regular, sans-serif;
    text-transform: uppercase;
    color: #949a8f
}

#partners li {
    color: #949a8f;
    margin: 10px 0 0 15px;
    padding: 0 0 0 25px;
    background-image: url("../Img/plas.png");
    background-repeat: no-repeat;
    background-position: 0 center;
}

#partnersDiv{
    margin-left: 50px;
}

#footerNav{
    margin-left: 50px;

}

#footerNav li{
    float: left;
    margin-left: 10px;
    color:#949a8f;
    margin-top: 10px;
    text-decoration: none;
}

#footerNav li a{
    color:#949a8f;
}
