.menu{
    min-width: 400px; /*МИНИМАЛЬНАЯ И МАКСИМАЛЬНАЯ ШИРИНА ДЛЯ МЕНЮ*/
    max-width: 1000px;
    margin: 20px auto;
}

.menu ul{
    background: cornflowerblue;
    display: table-row; /*ГОВОРИМ ЧТО ЭТО КАК БЫ СТРОКА ТАБЛИЦЫ*/
}

.menu ul li{
    display: table-cell; /*ГОВОРИМ ЧТО ЭТО КАК БЫ ЯЧЕЙКА ТАБЛИЦЫ*/
    width: auto;
    height: 50px;
    vertical-align: middle;
    text-align: center;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font: 14px Verdana;
    display: table-cell; /*ГОВОРИМ ЧТО ТУТ ТОЖЕ КАК БЫ ЯЧЕЙКА ТАБЛИЦЫ*/
    width: 1000px; /*ОБЯЗАТЕЛЬНО ЗАДАЕМ ДЛИНУ ТАКУЮ КАК И В  .menu МОЖНО И БОЛЬШЕ*/
}