header {
    background: #292929;
}

.centerBlockMian {
    margin: 0 auto;
    max-width: 990px;
    overflow: hidden;
}

.logo {
    float: left;
    margin-top: 20px;
}

.manuTop {
    float: right;
}

.manuTop ul li {
    float: left;
}

.manuTop ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 30px 20px;
    display: block;
    border-bottom: 3px solid #292929;
}

.manuTop ul li a:hover {
    color: #58c93a;
    border-bottom: 3px solid #58c93a;
}

main {
    float: left;
    width: 62.5%;
    margin-top: 70px;
}

.mainContent{
     border-right: 1px solid #e1e0e0; 
    border-left: 1px solid #e1e0e0;
}

main article {
    margin-bottom: 70px;
}

main article header {
    background: none;
    font-size: 0;
    margin-bottom: 10px;
}

main article h2 {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.1;
    color: #4f4e4e;
    margin-left: 20px;
}

main article p {
    color: #606060;
    margin-left: 20px;
    margin-bottom: 20px;
    line-height: 1.3;
}

ul li {
    list-style-type: none;
}

a.more {
    border: 2px solid #c2c2c2;
    color: #c2c2c2;
    padding: 7px 20px;
    display: inline-block;
    border-radius: 20px;
}

a:hover.more {
    color: green;
    border: 2px solid green;
}

aside {
    float: right;
    width: 28.3%;
    margin-top: 70px;
}

.widget {
    margin-bottom: 50px;
}

.widget h2 {
    text-transform: uppercase;
    color: #6c6969;
    background: #f8f8f8;
    border-left: 3px solid #58c93a;
    padding: 10px 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.search {
    color: #bebebe;
    font-size: 12px;
    width: 100%;
    border: 1px solid #e1e0e0;
    padding: 15px 20px;
    top: 0;
    left: 0;
}

.widget nav {
    margin-left: 20px;
}

.subscrInput {
    color: #bebebe;
    font-size: 12px;
    width: 100%;
    border: 1px solid #e1e0e0;
    padding: 15px 50px 15px 20px;
    box-sizing: border-box;
    position: absolute;
}

.subscribe {
    position: relative;
    width: 100%;
    height: 48px;
}

.subscrImg {
    position: absolute;
    right: 20px;
    top: 12px;
}

.pager {
    border-top: 1px solid #e1e0e0;
    text-transform: uppercase;
    font-weight: 600;
    overflow: hidden;

    padding: 30px 0;
}

.pager a {
    text-decoration: none;
    color: #818181;
}

.pager a:hover {
    color: green;
}

.previousLink {
    float: left;
}

.nextLink {
    float: right;
}

footer{
    background: #f8f8f8;
    border-top: 1px solid #e1e0e0;
    color: #a6a6a6;
    text-align: center;
}

footer img{
   
    margin-top: 30px;
}

footer p{
    
    margin: 30px 0 70px 0;
}