
#wrapper{
    max-width: 1000px;
    min-width: 400px;
    margin: 20px auto;
    position: relative;
}

.block-left{
    position: absolute;
    top: 0;
    left:0;
    width: 250px;
    background: yellow;
    z-index: 1;
    border:1px solid black;
    padding:10px;
    min-width: 200px;
}

.block-center{
    width: 250px;
    background: tomato;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    border:1px solid black;
    padding:10px;

}

.block-right{
    position: absolute;
    top: 0;
    right: 0;
    width:250px;
    background: yellow;
    z-index: 20;
    border:1px solid black;
    padding:10px;
}
