#wrapper{
    max-width: 1000px;
    min-width: 400px;
    margin: 20px auto; /*выравниваем контент в главном блоке по центру*/
}

.block{
    
    border: 1px solid black;
    margin:10px ;
    padding:10px ;
}

.blockMain{
    width:33%;
    float: left;
}

