*{
    margin: 0; 
    padding: 0;
}

.main{
    max-width: 1000px;
    min-width: 590px;
    margin: 20px auto;
    background:yellow;
    overflow: hidden;
    padding: 20px;
    text-align: justify; /*ВАЖНОЕ  - ГОВОРИМ, ЧТО ВНУТРИ ЭТОГО БЛОКА ВСЕ СТРОЧНЫЕ ЭЛЕМЕНТЫ БУДУТ РАСТЯГИВАТЬСЯ ПО ВСЕМУ ПРОСТРАНСТВУ */
}

.block{
    width: 150px;
    padding: 20px;
    border: 2px solid black;
    background: tomato;
    display: inline-block; /*САМОЕ ВАЖНОЕ (ГОВОРИМ ЧТО ЭТИ БЛОКИ БУДУТ И БЛОКИ И СТРОКИ КАК БЫ) */
    text-align: left; /*ВЫРАВНИВАЕМ ТЕКСТ КАК ПОЛОЖЕНО , ИНАЧЕ ОН УНАСЛЕДОВАЛ text-align: justify */
}

/*ЭТО ВАЖНЫЙ ЭЛЕМЕНТ КОТОРЫЙ ПОЗВОЛЯЕТ НАШИМ БЛОКАМ ВЕСТИ СЕБЯ КАК МЫ И ЗАДУМЫВАЛИ */
.ftr{
    display: inline-block;
    width: 100%;
}
