* {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

body {
    background: #f5f5f5 url("img/body-bg-jpg") top repeat-x;
    font: 12px Arial;
    color: #555;
    line-height: 1.3;
}

.karkas {
    width: 755px;
    margin: 0 auto;
}

.header {
    padding: 30px 0 0 0;
}

.logo {
    margin: 0 auto;
    display: block;
}

nav ul {
    list-style: none;
}

nav ul li {
    float: left;
    padding: 8px 25px;
    border-left: 1px solid #f4f4f4;
}

nav ul li a {
    color: #5f5d67;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}